* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav {
  height: 500px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
  gap: 90px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 1200px;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7e8;
}
.nav-bar ul {
  display: flex;
  gap: 20px;
}
.nav-bar {
  margin-right: 60px;
}
.hero-content {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.main-title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  width: 400px;
}
.sub-text {
  font-size: 18px;
  color: #e5e7e8;
  overflow-wrap: normal;
  margin-top: -8px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 80px;
}
.content-left {
  height: 230px;
  width: 450px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-right {
  height: 230px;
  width: 550px;
  border: 1px;
  background-color: lightgray;
  margin-right: 60px;
}

.hero-content .button-1 {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  color: #f9faf8;
  padding: 10px 40px;
  align-self: flex-start;
  font-size: 18px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section h2 {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.box {
  display: flex;
  padding: 50px;
  gap: 50px;
  margin: 40px;
  margin-top: -20px;
  max-width: 900px;
  justify-content: center;
  margin-bottom: 60px;
}
.box img {
  width: 180px;
  height: 180px;
}
.box-1,
.box-2,
.box-3,
.box-4 {
  max-width: 300px;
}
.quote {
  background-color: #e5e7eb;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote .quotee {
  width: 800px;
  align-self: flex-end;
  padding-left: 200px;
  font-size: 24px;
  font-weight: 600;
}

.quote .quote-text {
  width: 780px;
  margin-bottom: 8px;
}

.quote-text p {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}
.call-to-action {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.call-to-action-box {
  background-color: #3882f6;
  border-radius: 15px;
  width: 1030px;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  color: #f9faf8;
}
.main-text h3 {
  font-size: 23px;
  margin-bottom: 2px;
  font-weight: 600;
}
.main-text h4 {
  font-weight: 200;
  font-size: 17px;
}

.main-text {
  margin-left: -60px;
}
.button-2 {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 18px;
  padding: 6px 33px;
  margin-right: -60px;
  margin-bottom: -10px;
}
.footer {
  height: 128px;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h5 {
  font-weight: 300;
  font-size: 18px;
  word-spacing: 3px;
}
